:root {
  --cyan: #06b6d4;
  --purple: #8b5cf6;
  --blue: #3b82f6;
  --pink: #ec4899;
  --dark: #0a0a14;
  --text-main: #e5e7eb;
  --text-muted: #969aa0;
  --accent-1: #38bdf8;
  --accent-2: #a855f7;
}

body {
  background: var(--dark);
  color: #fff;
  /*font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;*/
  font-family: "Google Sans Flex", sans-serif;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none !important;
  }

  .hero-content {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .nav-link {
    width: auto !important;
  }
}
